<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- VueJs CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- CSS Style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- FontOwesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
</head>
<body>
    <div id="app">
        <div class="todo-container">
            <header class="todo-header">My Todo List</header>
            <main>
                <input v-model="newTask" @keyup.enter="addTask" type="text" class="todo-input" placeholder="Nuovo Task">
                <ul class="todo-list">
                    <li v-for="(todo, index) in todos" :key="index" class="todo-item">
                        <input type="checkbox" v-model="todo.done">
                        <span :class="{ 'done': todo.done }">{{ todo.text }}</span>
                        <div @click="removeTodo(index)" class="remove-todo">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                    </li>
                </ul>
            </main>
            
            <footer class="footer">
                Made with &hearts; by myself <br>
                Make sure you don't waste money
            </footer>
        
            <button @click="addTask" class="add-task-button">+</button>
        </div>
    </div>


    <!-- Js Script -->
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>